<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFullscreenExpand="true"

>
  <image imageURL="images/Capture1.jpg"
	thumbURL="thumbs/Capture1.jpg"
	linkURL="images/Capture1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/AllisonSalibian/Desktop/Capture1.PNG">
    <title><![CDATA[Capture1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Capture2.jpg"
	thumbURL="thumbs/Capture2.jpg"
	linkURL="images/Capture2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/AllisonSalibian/Desktop/Capture2.PNG">
    <title><![CDATA[Capture2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>